sudo: required
language: node_js
node_js:
  - '10'
addons:
  - chrome: stable
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
script:
  - npm run lint
  - npm test